
body {
    background-color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: #fff;
    background-color: #111;
    padding: 40px;
    border: 1px solid #222;
    border-radius: 80px;
    cursor: pointer;
}
