<ion-view view-title="{{character.name}}">
    <ion-content>
        <h1>Weapons</h1>
        <ion-list>
            <ion-item class="item-remove-animate" ng-repeat="weapon in character.weapons" type="item-text-wrap" href="#/tab/campaigns/characters/{{character.name}}/{{weapon.name}}">
                <h2>{{weapon.name}}</h2>

                <ion-option-button class="button-assertive" ng-click="removeWeapon(character, weapon)">
                    Delete
                </ion-option-button>
            </ion-item>
            <ion-item class="item" type="item-text-wrap" ng-click="showNewWeaponForm()">
                <i class="icon icon-large ion-plus"></i>
            </ion-item>
        </ion-list>

        <h1>Buffs</h1>
        <ion-list>
            <ion-item class="item" ng-repeat="buff in buffs" type="item-text-wrap">
                <ion-checkbox ng-model="activeBuffs[$index]">{{buff.name}}</ion-checkbox>
            </ion-item>
        </ion-list>

    </ion-content>
</ion-view>
