<ion-view view-title="Settings">
  <ion-content>
    <ion-list>
        <ion-item>
            <button class="button button-dark" ng-click="insertTestData()">Insert Test Data</button>
        </ion-item>
        <ion-item>
            <button class="button button-dark" ng-click="flushLocalData()">Reset All Data</button>
        </ion-item>
        <ion-item>
            <button class="button button-dark" ng-click="exportToClipboard()">Export Data to Clipboard</button>
        </ion-item>
        <ion-item>
            <button class="button button-dark" ng-click="importFromString()">Import Data</button>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
